<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Understanding css</title>

</head>

<body>
  <header>
    <div style="background-color: #00809D;color: white;display: flex;justify-content: space-between;align-items: center;padding: 16px 10px;">
      <p>UC</p>
      <ul style="display: flex;align-items: center;list-style-type: none;gap: 20px;">
        <li>BASIC</li>
        <li>ENTRANCES</li>
        <li>EXITS</li>
        <li>TEXT</li>
        <li>ATTENTION</li>
        <li>BACKGROUND</li>
      </ul>
    </div>
  </header>

  <div id="playground">

    <div class="main-effects">
      <% data.effects.forEach((effect, index) => { %>
      <button class="effect-button" onclick="showSubEffects(<%= index %>, this)">
        <%= effect.name.toUpperCase() %>
      </button>
      <% }) %>
    </div>

    <div class="sub-box">
      <% data.effects.forEach((effect, index) => { %>
      <div class="sub-effects" id="sub-effects-<%= index %>">
        <% effect.subEffects.forEach(sub => { %>
        <div class="sub-effect" onclick='selectSubEffect(<%- JSON.stringify(sub.css) %>, this)'>
          <%= sub.name %>
        </div>
        <% }) %>
      </div>
      <% }) %>
    </div>
  </div>

  <div class="container">
    <div class="css-box" id="cssDisplay">
      <button class="copy-btn" onclick="copyCSS()">Copy</button>
      <span id="cssContent">/* CSS will appear here */</span>
    </div>
  
    <div id="preview-container">
      <div id="previewBox">Preview</div>
    </div>
  </div>  
  <script src="/js/display_copy.js"></script>
</body>

</html>