<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
  <%- include('partials/header') %>

  <div id="playground">

    <div class="main-effects">
      <% data.effects.forEach((effect, index) => { %>
      <button class="effect-button" onclick="showSubEffects(<%= index %>, this)">
        <%= effect.name.toUpperCase() %>
      </button>
      <% }) %>
    </div>

    <div class="sub-box">
      <% data.effects.forEach((effect, index) => { %>
      <div class="sub-effects" id="sub-effects-<%= index %>">
        <% effect.subEffects.forEach(sub => { %>
        <div class="sub-effect" onclick='selectSubEffect(<%- JSON.stringify(sub.css) %>, this)'>
          <%= sub.name %>
        </div>
        <% }) %>
      </div>
      <% }) %>
    </div>
  </div>

  <div class="container">
    <div class="css-box" id="cssDisplay">
      <button class="copy-btn" onclick="copyCSS()">Copy</button>
      <span id="cssContent">/* CSS will appear here */</span>
    </div>

    <div id="preview-container">
      <div id="previewBox">Preview</div>
    </div>
  </div>
  <script src="/js/display_copy.js"></script>
</body>

</html>